.table{
    width: 70%;
    margin: 10px auto;


}
.th,.td{
padding: 10px 20px;
border: 2px solid gray;
text-align: center;
font-size: larger;
font-weight: 600;
text-decoration: none;
font-style: italic;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.heading{
    text-align: center;
}
